:root {
  --background-gradient: linear-gradient(rgb(210, 210, 228), rgb(59, 50, 50));
}

body,
html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-gradient);
}

a {
  text-decoration: none;
}

li a {
  text-decoration: none;
}

i {
  color: #190000;
}

.hidden {
  visibility: hidden;
}

.greeting-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  /* float: left; */
  width: 25%;
  /* position: relative; */
  /* overflow-y: scroll; */
  /* z-index: 1001; */
  background: #f2f3f7;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  flex: 0 0 auto;
  height: 100vh;
  padding: 15px 0;
  margin-bottom: 0;
}

aside .position {
  display: block;
  margin-bottom: 2em;
  font-size: 12px;
  text-transform: uppercase;
}

aside li {
  border-bottom: none;
}

.main-content {
  margin-left: 25%;
  padding: 0 15px;
}

#about {
  width: 80%;
  height: 100vh;
}

.portfolio {
  height: 100vh;
}

.resume-page {
  height: 100vh;
}

/* this also hides the details text */
.card:hover img {
  /* opacity: 0.5; */
  filter: brightness(30%);
}

.card:hover .additional-details {
  opacity: 1;
  z-index: 2; /* Add this line */
}

.additional-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5eeee;
  transition: opacity 0.4s ease, transform 0.3s ease;
  opacity: 0;
  font-family: "Ysabeau", sans-serif;
}

@media screen and (max-width: 990px) {
  aside {
    float: none;
  }
}
