:root {
  --background-gradient: linear-gradient(rgb(210, 210, 228), rgb(59, 50, 50));
}

html {
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
}

body {
  background: var(--background-gradient);
  margin: 0;
  height: 100vh;
}

aside {
  float: left;
  flex: 0 0 auto;
  background-color: aliceblue;
  height: 100vh;
  padding: 0 0;
  margin-bottom: 0;
}

/* this also hides the details text */
.card:hover img {
  /* opacity: 0.5; */
  filter: brightness(30%);
}

.card:hover .additional-details {
  opacity: 1;
  z-index: 2; /* Add this line */
}

.additional-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5eeee;
  transition: opacity 0.4s ease, transform 0.3s ease;
  opacity: 0;
  font-family: "Ysabeau", sans-serif;
}
